In [1]:
file = r'loans data.csv'

In [2]:
import pandas as pd

In [17]:
df = pd.read_csv(file)

In [5]:
df.head()

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,81174.0,20000,20000,8.90%,36 months,debt_consolidation,14.90%,SC,MORTGAGE,6541.67,735-739,14,14272,2.0,< 1 year
1,99592.0,19200,19200,12.12%,36 months,debt_consolidation,28.36%,TX,MORTGAGE,4583.33,715-719,12,11140,1.0,2 years
2,80059.0,35000,35000,21.98%,60 months,debt_consolidation,23.81%,CA,MORTGAGE,11500.00,690-694,14,21977,1.0,2 years
3,15825.0,10000,9975,9.99%,36 months,debt_consolidation,14.30%,KS,MORTGAGE,3833.33,695-699,10,9346,0.0,5 years
4,33182.0,12000,12000,11.71%,36 months,credit_card,18.78%,NJ,RENT,3195.00,695-699,11,14469,0.0,9 years

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 15 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2499 non-null   float64
 1   Amount.Requested                2499 non-null   object
 2   Amount.Funded.By.Investors      2499 non-null   object
 3   Interest.Rate                   2500 non-null   object
 4   Loan.Length                     2499 non-null   object
 5   Loan.Purpose                    2499 non-null   object
 6   Debt.To.Income.Ratio            2499 non-null   object
 7   State                           2499 non-null   object
 8   Home.Ownership                  2499 non-null   object
 9   Monthly.Income                  2497 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2496 non-null   object
 12  Revolving.CREDIT.Balance        2497 non-null   object
 13  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 14  Employment.Length               2422 non-null   object
dtypes: float64(3), object(12)
memory usage: 293.1+ KB

In [10]:
cond1 = df['Home.Ownership'] == 'MORTGAGE'

In [11]:
cond2 = df['Monthly.Income'] > 9000.00

In [32]:
df1 = df.loc[cond1 & cond2].shape

In [33]:
df1

(187, 15)

In [39]:
df2 = df.loc[cond1,:]['Monthly.Income'].mean()

In [40]:
df2

6628.321125654451

In [44]:
df2 = df.loc[cond1,:].mean()
df2
# type(df2)

ID                                5.165962e+04
Monthly.Income                    6.628321e+03
Revolving.CREDIT.Balance                   inf
Inquiries.in.the.Last.6.Months    1.026178e+00
dtype: float64

In [46]:
df3=df.describe()

In [47]:
df3

                  ID  Monthly.Income  Inquiries.in.the.Last.6.Months
count    2499.000000     2497.000000                     2497.000000
mean    51643.325330     5689.716608                        0.906688
std     30053.637661     3963.568002                        1.231149
min        10.000000      588.500000                        0.000000
25%     26570.500000     3500.000000                        0.000000
50%     50673.000000     5000.000000                        0.000000
75%     77583.000000     6800.000000                        1.000000
max    104202.000000   102750.000000                        9.000000

In [65]:
df3=df.describe()
df4 = df3.loc['50%',]['Monthly.Income']
df5 = df3.loc['50%','Monthly.Income']

df4 ==df5

True

In [63]:
df4

5000.0

In [64]:
type(df4)

numpy.float64